@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  z-index: 1;
  margin-left: 5%;
  margin-right: 5%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.heroImg {
  margin-top: 5%;
  width: 50%;
  z-index: 1;
  border-radius: 50%;
}


.title {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 5px;
  font-family: var(--font-tech);
}

.subtitle{
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 5px;
  font-family: var(--font-tech);
}

.description {
  font-size: 25px;
  font-weight: 500;
  font-family: var(--font-tech);
  margin-bottom: 30px;
}

.cvbutton {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 20px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
}
