@import "../../vars.css";


.container{
  position: relative;
  background-color: rgba(12, 12, 12, 0.31);
  border-radius: 15px;
  padding: 73px;
  margin-top: 130px;
  z-index: 1;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5%;
  color: var(--color-text);
  display: flex;
  justify-content:space-between;

}


.text h2 {
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  
}

.text h4{
  margin-bottom: 2%;
}

.social{
  display: inline-flex;
  gap: 40px;
  font-size: 50px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  margin-top: 15px; 
  margin-right: 5%; 
}
.social a{
  color: #0fd8f3;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }


}